body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 25%;
    max-width: 15%;
}

.numbers {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-height: 25%;

}

.operators > button {
    background-color: orange;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.numbers > button {
    background-color: burlywood;
    flex-basis: 33.3%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

button.grey {
    background-color: lightgrey;
}

.calculator {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    width: 400px;
    height: 100vh;
}

.display {
    display: flex;
    height: 60px;
    flex: 1 0 inherit;
    background-color: blanchedalmond;
    border-style: solid;
    font-size: 40px;
}

.keypad {
    display: flex;
    flex-grow: 1;
}